body {
  background-color: #000000;
  margin-left: 45px;
  font-family: "Roboto", sans-serif;
}

img {
  width: 100px;
  padding-top: 2px;
}

h1 {
  color: #fffff7;
  font-size: 19px;
}

section {
  display: flex;
  overflow-x: scroll;
}

section::-webkit-scrollbar {
  display: none;
}

section img {
  height: 130px;
  width: 220px;
}
